$red_hpz: #c72832 !default;
$white_hpz: #fff !default;
$hover_link: #c0c0c0 !default;

$text_main: #000 !default;
$background_black: #000 !default;

$gray: #696969;
$gray_white: #b6b5b5;

$redgray_hpz: #dd5b5b !default;

$bgcolor: #f9f9f9;